[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-moment = "*"
bootstrap-flask = "*"
faker = "*"
flask-debugtoolbar = "*"

[dev-packages]
watchdog = "*"
faker = "*"

[requires]
python_version = "3.7"
